<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>İnsan ve Hayvan</title>
  </head>
  <body>
    <p>
      <font color="red"><h1>{{ karakter_ana }} ve {{ karakter_hayvan }}</h1></font>
<br>
      {{ zaman_belirteci }} bir {{ karakter_ana }} kaçıp {{ mekan_kapali_1 }} sığınmış.
      {{ mekan_acik_1 }} gezinirken,iniltiler içinde ızdırap çeken bir {{ karakter_hayvan }} görmüş, önce {{ duygusal_tepki_1 }} kaçmaya yeltenmiş.
      Fakat {{ karakter_hayvan }}ın yerinden hiç kıpırdamadığını,yalvaran gözlerle kendisine baktığını görüp durmuş.
      {{ karakter_hayvan }} kanayan {{ uzuv_1 }} uzatıyormuş ona.
      {{ karakter_ana }} dikkatlice bakınca, {{ karakter_hayvan }}ın {{ uzuv_1 }} büyük bir {{ nesne_1 }}nin saplandığını görmüş.
      {{ nesne_1 }} çıkarıp yarayı temizleyen {{ karakter_ana }},{{ kiyafet }} kopardığı bezle de iyice sarmış.

      Rahatlayan {{ karakter_hayvan }} ayağa kalkıp {{ karakter_ana }}nin ellerini yalamaya başlamış.Sonra da önüne düşüp yaşadığı {{ mekan_kapali_2 }} götürmüş.
      Her gün yakaladığı avları {{ mekan_kapali_2 }} taşıyıp, {{ karakter_ana }}ye yardım ediyormuş.

      Bu beraberlikleri uzun sürmemiş.{{ mekan_kapali_1 }}e gelen {{ sayi }} {{ karakter_kotu }} ikisini de yakalamışlar.
      Ayrı kafeslere kapatıp günlerce aç bırakmışlar onları.
      {{ karakter_yetkili }} da hazır bulunduğu bir gün kafesin ağzı açılmış.
      {{ karakter_hayvan }}ın {{ karakter_ana }}yi nasıl parçalayacağını herkes merakla bekliyormuş.
      Büyük bir iştahla saldıran {{ karakter_hayvan }},{{ karakter_ana }}nin yanına gelince onu tanımış.
      Önünde bir köpek sadakatiyle durup {{ uzuv_2 }} yalamaya başlamış.
      {{ karakter_yetkili }} bu duruma çok {{ duygusal_tepki_2 }}.
      {{ karakter_ana }}yi yanına çağırıp bütün hikayeyi dinlemiş ondan.

      Anlatılanlardan çok etkilenen {{ karakter_yetkili }},{{ karakter_ana }}nin affedilmesini,{{ karakter_hayvan }}ın da {{ mekan_kapali_1 }} salıverilmesini emretmiş.
      Duydukları karşısında öfkelenen {{ karakter_yetkili }},{{ karakter_ana }}in ve {{ karakter_hayvan }}ın zindana atılmasını istemiş.
    </p>
  </body>
</html>
